In [ ]:
!pip install -U PyMySQL sqlalchemy flask pyngrok geopandas sodapy googlemaps

In [ ]:
!sudo pip3 install -U -q PyMySQL sqlalchemy sql_magic

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 10.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 123.4/123.4 kB 11.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.5/93.5 kB 7.7 MB/s eta 0:00:00

In [ ]:
# Traffic table

import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine, text
import googlemaps

# Database connection details
conn_string = "mysql+pymysql://{user}:{password}@{host}/".format(
    host="db.ipeirotis.org", user="student", password="dwdstudent2015"
)
engine = create_engine(conn_string)

# Drop existing table if it exists
drop_table_query = "DROP TABLE IF EXISTS public.TeamA_Data_traffic"
with engine.connect() as connection:
    connection.execute(text(drop_table_query))

# Create new table
create_table_query = """
CREATE TABLE IF NOT EXISTS public.TeamA_Data_traffic (
    ID INT,
    SegmentID INT,
    Roadway_Name VARCHAR(255),
    From_St VARCHAR(255),
    To_St VARCHAR(255),
    Direction VARCHAR(10),
    Date DATE,
    _12_00_1_00_am INT,
    _1_00_2_00am INT,
    _2_00_3_00am INT,
    _3_00_4_00am INT,
    _4_00_5_00am INT,
    _5_00_6_00am INT,
    _6_00_7_00am INT,
    _7_00_8_00am INT,
    _8_00_9_00am INT,
    _9_00_10_00am INT,
    _10_00_11_00am INT,
    _11_00_12_00pm INT,
    _12_00_1_00pm INT,
    _1_00_2_00pm INT,
    _2_00_3_00pm INT,
    _3_00_4_00pm INT,
    _4_00_5_00pm INT,
    _5_00_6_00pm INT,
    _6_00_7_00pm INT,
    _7_00_8_00pm INT,
    _8_00_9_00pm INT,
    _9_00_10_00pm INT,
    _10_00_11_00pm INT,
    _11_00_12_00am INT,
    latitude DOUBLE,
    longitude DOUBLE)
"""
with engine.connect() as connection:
    connection.execute(text(create_table_query))

import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine, text
import googlemaps

# Database connection details
conn_string = "mysql+pymysql://{user}:{password}@{host}/".format(
    host="db.ipeirotis.org", user="student", password="dwdstudent2015"
)
engine = create_engine(conn_string)

# Set up Socrata client
client = Socrata("data.cityofnewyork.us", "ZENlbrHFk4sC5WZI8ZThRQMgp")

# Fetch data from API
results = client.get("btm5-ppia" , limit=42000)

# Convert to pandas DataFrame
traffic_volume_data = pd.DataFrame.from_records(results)

# Set up Google Maps client
gmaps = googlemaps.Client(key='AIzaSyDZ9Z4QyCj-jT6wdZNZjyMR0I0Fzi_iIUo')

def get_coordinates_google(roadway_name, from_st, to_st, city="New York", state="NY", country="USA"):
    full_address = f"{roadway_name}, {from_st}, {to_st}, {city}, {state}, {country}"
    try:
        geocode_result = gmaps.geocode(full_address)
        if geocode_result:
            location = geocode_result[0]['geometry']['location']
            return location['lat'], location['lng']
        else:
            print(f"Location not found for {full_address}")
            return None, None
    except Exception as e:
        print(f"Geocoding error: {e}")
        return None, None



query_template = f"""
                    INSERT INTO public.TeamA_Data_traffic
                    (ID, SegmentID, Roadway_Name, From_St, To_St, Direction, Date,
                    _12_00_1_00_am, _1_00_2_00am, _2_00_3_00am, _3_00_4_00am, _4_00_5_00am, _5_00_6_00am,
                    _6_00_7_00am, _7_00_8_00am, _8_00_9_00am, _9_00_10_00am, _10_00_11_00am, _11_00_12_00pm,
                    _12_00_1_00pm, _1_00_2_00pm, _2_00_3_00pm, _3_00_4_00pm, _4_00_5_00pm, _5_00_6_00pm,
                    _6_00_7_00pm, _7_00_8_00pm, _8_00_9_00pm, _9_00_10_00pm, _10_00_11_00pm, _11_00_12_00am,
                    latitude, longitude)
                    VALUES (:ID, :SegmentID, :Roadway_Name, :From_St, :To_St, :Direction, :Date,
                    :_12_00_1_00_am, :_1_00_2_00am, :_2_00_3_00am, :_3_00_4_00am, :_4_00_5_00am, :_5_00_6_00am,
                    :_6_00_7_00am, :_7_00_8_00am, :_8_00_9_00am, :_9_00_10_00am, :_10_00_11_00am, :_11_00_12_00pm,
                    :_12_00_1_00pm, :_1_00_2_00pm, :_2_00_3_00pm, :_3_00_4_00pm, :_4_00_5_00pm, :_5_00_6_00pm,
                    :_6_00_7_00pm, :_7_00_8_00pm, :_8_00_9_00pm, :_9_00_10_00pm, :_10_00_11_00pm, :_11_00_12_00am,
                    :latitude, :longitude)
                  """

with engine.connect() as connection:
  for index, record in traffic_volume_data.iterrows():
    record = record.fillna(0)
    latitude, longitude = get_coordinates_google(
            record.get("roadway_name"),
            record.get("from"),
            record.get("to")
        )

    query_parameters = {
      "ID": record.get("id"),
      "SegmentID": record.get("segmentid"),
      "Roadway_Name": record.get("roadway_name"),
      "From_St": record.get("from"),
      "To_St": record.get("to"),
      "Direction": record.get("direction"),
      "Date": record.get("date"),
      "_12_00_1_00_am": record.get("_12_00_1_00_am"),
      "_1_00_2_00am": record.get("_1_00_2_00am"),
      "_2_00_3_00am": record.get("_2_00_3_00am"),
      "_3_00_4_00am": record.get("_3_00_4_00am"),
      "_4_00_5_00am": record.get("_4_00_5_00am"),
      "_5_00_6_00am": record.get("_5_00_6_00am"),
      "_6_00_7_00am": record.get("_6_00_7_00am"),
      "_7_00_8_00am": record.get("_7_00_8_00am"),
      "_8_00_9_00am": record.get("_8_00_9_00am"),
      "_9_00_10_00am": record.get("_9_00_10_00am"),
      "_10_00_11_00am": record.get("_10_00_11_00am"),
      "_11_00_12_00pm": record.get("_11_00_12_00pm"),
      "_12_00_1_00pm": record.get("_12_00_1_00pm"),
      "_1_00_2_00pm": record.get("_1_00_2_00pm"),
      "_2_00_3_00pm": record.get("_2_00_3_00pm"),
      "_3_00_4_00pm": record.get("_3_00_4_00pm"),
      "_4_00_5_00pm": record.get("_4_00_5_00pm"),
      "_5_00_6_00pm": record.get("_5_00_6_00pm"),
      "_6_00_7_00pm": record.get("_6_00_7_00pm"),
      "_7_00_8_00pm": record.get("_7_00_8_00pm"),
      "_8_00_9_00pm": record.get("_8_00_9_00pm"),
      "_9_00_10_00pm": record.get("_9_00_10_00pm"),
      "_10_00_11_00pm": record.get("_10_00_11_00pm"),
      "_11_00_12_00am": record.get("_11_00_12_00am"),
      "latitude": latitude,
      "longitude": longitude
    }
    connection.execute(text(query_template), query_parameters)
  connection.commit()

In [ ]:
# Collisions table

import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine, text
import googlemaps

conn_string = "mysql+pymysql://{user}:{password}@{host}/".format(
    host="db.ipeirotis.org", user="student", password="dwdstudent2015"
)

engine = create_engine(conn_string)

drop_table_query = f"DROP TABLE IF EXISTS public.TeamA_Data_collisions"

with engine.connect() as connection:
  connection.execute(text(drop_table_query))

create_table_query = f"""
                        CREATE TABLE IF NOT EXISTS public.TeamA_Data_collisions (
                        crash_date DATE,
                        crash_time TIME,
                        borough VARCHAR(255),
                        zip_code INT,
                        latitude DECIMAL(9,6),
                        longitude DECIMAL(9,6),
                        on_street_name VARCHAR(255),
                        off_street_name VARCHAR(255),
                        number_of_persons_injured INT,
                        number_of_persons_killed INT,
                        number_of_pedestrians_injured INT,
                        number_of_pedestrians_killed INT,
                        number_of_cyclist_injured INT,
                        number_of_cyclist_killed INT,
                        number_of_motorist_injured INT,
                        number_of_motorist_killed INT,
                        contributing_factor_vehicle_1 VARCHAR(255),
                        contributing_factor_vehicle_2 VARCHAR(255),
                        collision_id INT,
                        vehicle_type_code1 VARCHAR(255),
                        vehicle_type_code2 VARCHAR(255),
                        PRIMARY KEY(collision_id) )
                      """

with engine.connect() as connection:
  connection.execute(text(create_table_query))


# Database connection details
conn_string = "mysql+pymysql://{user}:{password}@{host}/".format(
    host="db.ipeirotis.org", user="student", password="dwdstudent2015"
)
engine = create_engine(conn_string)

# Set up Socrata client
client = Socrata("data.cityofnewyork.us", "ZENlbrHFk4sC5WZI8ZThRQMgp")

# Fetch data from API
results = client.get("h9gi-nx95" , limit=200000)

# Convert to pandas DataFrame
vehicle_collisions_data = pd.DataFrame.from_records(results)


query_template = f"""
                    INSERT IGNORE INTO
                    public.TeamA_Data_collisions(crash_date, crash_time,borough,
                    zip_code, latitude, longitude, on_street_name, off_street_name,
                    number_of_persons_injured, number_of_persons_killed,
                    number_of_pedestrians_injured, number_of_pedestrians_killed,
                    number_of_cyclist_injured, number_of_cyclist_killed,
                    number_of_motorist_injured, number_of_motorist_killed,
                    contributing_factor_vehicle_1, contributing_factor_vehicle_2,
                    collision_id, vehicle_type_code1, vehicle_type_code2)

                    VALUES (:crash_date, :crash_time,:borough,
                    :zip_code, :latitude, :longitude, :on_street_name, :off_street_name,
                    :number_of_persons_injured, :number_of_persons_killed,
                    :number_of_pedestrians_injured, :number_of_pedestrians_killed,
                    :number_of_cyclist_injured, :number_of_cyclist_killed,
                    :number_of_motorist_injured, :number_of_motorist_killed,
                    :contributing_factor_vehicle_1, :contributing_factor_vehicle_2,
                    :collision_id, :vehicle_type_code1, :vehicle_type_code2)
                  """


with engine.connect() as connection:
    for index, collision in vehicle_collisions_data.iterrows():
        collision = collision.fillna(0)
        query_parameters = {
            "crash_date": collision.get("crash_date"),
            "crash_time": collision.get("crash_time"),
            "borough": collision.get("borough"),
            "zip_code": collision.get("zip_code"),
            "latitude": collision.get("latitude"),
            "longitude": collision.get("longitude"),
            "on_street_name": collision.get("on_street_name"),
            "off_street_name": collision.get("off_street_name"),
            "number_of_persons_injured": collision.get("number_of_persons_injured"),
            "number_of_persons_killed": collision.get("number_of_persons_killed"),
            "number_of_pedestrians_injured": collision.get("number_of_pedestrians_injured"),
            "number_of_pedestrians_killed": collision.get("number_of_pedestrians_killed"),
            "number_of_cyclist_injured": collision.get("number_of_cyclist_injured"),
            "number_of_cyclist_killed": collision.get("number_of_cyclist_killed"),
            "number_of_motorist_injured": collision.get("number_of_motorist_injured"),
            "number_of_motorist_killed": collision.get("number_of_motorist_killed"),
            "contributing_factor_vehicle_1": collision.get("contributing_factor_vehicle_1"),
            "contributing_factor_vehicle_2": collision.get("contributing_factor_vehicle_2"),
            "collision_id": collision.get("collision_id"),
            "vehicle_type_code1": collision.get("vehicle_type_code1"),
            "vehicle_type_code2": collision.get("vehicle_type_code2")
        }
        connection.execute(text(query_template), query_parameters)
    connection.commit()

In [ ]:
import pandas as pd
from sodapy import Socrata
from sqlalchemy import create_engine, text
import googlemaps

# Database connection details
conn_string = "mysql+pymysql://{user}:{password}@{host}/".format(
    host="db.ipeirotis.org", user="student", password="dwdstudent2015"
)
engine = create_engine(conn_string)

# Set up Socrata client
client = Socrata("data.cityofnewyork.us", "ZENlbrHFk4sC5WZI8ZThRQMgp")

# Fetch data from API
results = client.get("8586-3zfm" , limit=12100)

# Convert to pandas DataFrame
construction_projects_data = pd.DataFrame.from_records(results)

In [ ]:
construction_projects_data['unique_id'] = range(1, 1+len(construction_projects_data))

In [ ]:
drop_table_query = f"DROP TABLE IF EXISTS public.TeamA_Data_construction"

with engine.connect() as connection:
  connection.execute(text(drop_table_query))

create_table_query = f"""CREATE TABLE IF NOT EXISTS public.TeamA_Data_construction (
                      unique_id INT PRIMARY KEY,
                      name VARCHAR(255),
                      boro VARCHAR(255),
                      geo_dist INT,
                      projdesc VARCHAR(255),
                      award DECIMAL(9,6),
                      consttype VARCHAR(255),
                      buildingid VARCHAR(255),
                      building_address VARCHAR(255),
                      city VARCHAR(255),
                      zip_code INT,
                      borough VARCHAR(255),
                      latitude DECIMAL(9,6),
                      longitude DECIMAL(9,6),
                      community_board INT,
                      community_council INT,
                      bin INT,
                      bbl INT,
                      census_tract INT,
                      nta VARCHAR(255),
                      data_as_of DATE,
                      computed_region_efsh_h5xi INT,
                      computed_region_f5dn_yrer INT,
                      computed_region_yeji_bk3q INT,
                      computed_region_92fq_4b7q INT,
                      computed_region_sbqj_enih INT)
                    """
with engine.connect() as connection:
  connection.execute(text(create_table_query))

from datetime import datetime

query_template = """
                 INSERT IGNORE INTO public.TeamA_Data_construction(
                 unique_id, name, boro, geo_dist, projdesc, award, consttype, buildingid,
                 building_address, city, zip_code, borough, latitude, longitude,
                 community_board, community_council, bin, bbl, census_tract, nta, data_as_of, computed_region_efsh_h5xi, computed_region_f5dn_yrer,
                 computed_region_yeji_bk3q, computed_region_92fq_4b7q, computed_region_sbqj_enih)

                 VALUES (
                 :unique_id, :name, :boro, :geo_dist, :projdesc, :award, :consttype, :buildingid,
                 :building_address, :city, :zip_code, :borough, :latitude, :longitude,
                 :community_board, :community_council, :bin, :bbl, :census_tract, :nta,
                 :data_as_of, :computed_region_efsh_h5xi, :computed_region_f5dn_yrer,
                 :computed_region_yeji_bk3q, :computed_region_92fq_4b7q, :computed_region_sbqj_enih
                 )
                 """


with engine.connect() as connection:
    for index, record in construction_projects_data.iterrows():
        try:
            record = record.fillna(0)
            query_parameters = {
                "unique_id": record["unique_id"],
                "name": record.get("name"),
                "boro": record.get("boro"),
                "geo_dist": record.get("geo_dist"),
                "projdesc": record.get("projdesc"),
                "award": record.get("award"),
                "consttype": record.get("consttype"),
                "buildingid": record.get("buildingid"),
                "building_address": record.get("building_address"),
                "city": record.get("city"),
                "zip_code": record.get("zip_code"),
                "borough": record.get("borough"),
                "latitude": record.get("latitude"),
                "longitude": record.get("longitude"),
                "community_board": record.get("community_board"),
                "community_council": record.get("community_council"),
                "bin": record.get("bin"),
                "bbl": record.get("bbl"),
                "census_tract": record.get("census_tract"),
                "nta": record.get("nta"),
                "data_as_of": datetime.strptime(record.get("data_as_of"), "%d-%b").strftime("%Y-%m-%d"),
                "computed_region_efsh_h5xi": record.get(":@computed_region_efsh_h5xi"),
                "computed_region_f5dn_yrer": record.get(":@computed_region_f5dn_yrer"),
                "computed_region_yeji_bk3q": record.get(":@computed_region_yeji_bk3q"),
                "computed_region_92fq_4b7q": record.get(":@computed_region_92fq_4b7q"),
                "computed_region_sbqj_enih": record.get(":@computed_region_sbqj_enih")
            }
            connection.execute(text(query_template), query_parameters)
        except Exception as e:
            print(f"Error inserting record at index {index}: {e}")
            print(f"Record Data: {record.to_dict()}")
    connection.commit()